
<div class="container">
    <h2>pipecomponent works!</h2>
    <!----
    <p>Today's Date is: {{todayDate | date}}</p><br>
    <p>Today's Date is: {{todayDate | date:"fullDate"}}</p><br>
    <p>Today's Day is: {{todayDate | date:"dd"}}</p><br>
    <p>Month is: {{todayDate | date:"MM"}}</p><br>
    <p>Year is: {{todayDate | date:"dd/MM/Y"}}</p><br>
    <p>Year is: {{todayDate | date:"dd/MMM/Y"}}</p><br>
    <p>Time: {{todayDate | date:"hh:mm:ss"}}</p><br>
    <p>Hours: {{todayDate | date:"hh"}}</p><br>
    <p>Minits: {{todayDate | date:"hh:mm"}}</p><br>
    <p>Secons: {{todayDate | date:"ss"}}</p><br>
    
    <p>Name is: {{name}}</p>
    <p>Name is: {{name | uppercase}}</p> 
    <p>Name is: {{name | lowercase}}</p>
    <p>Name is: {{name | slice: 0:5}}</p>

    <p>Price : {{price}}</p>
    <p>Price : {{price | number:'2.2'}}</p>
    
    <p>Percentage are : {{getPercent()}}</p>
    <p>Percentage are : {{getPercent() | percent : '2.2'}}</p>

    <p>Currency :{{amount | currency:'INR'}}</p>
    <p>Currency :{{amount | currency:'EUR'}}</p>
    <p>Currency :{{amount | currency:'USD'}}</p>

    <h2>{{fname}}</h2>
    ---->


    <h2>F : {{c | tempurature}}</h2>

</div>